
/* --rs-link__color: #127f4a;
--rs-link__color-hover: #006639;
--rs-link__text-decoration: none;
--vh: 1.5px;
font-family: din-2014,Arial,sans-serif;
box-sizing: border-box;
padding: 0;
max-width: 100%;
min-width: 100%;
align-items: center;
margin: auto;
width: 100%;
#main > div.band.vehicle-detail-band-wrapper > div
/html/body/div[3]/main/div[1]/div */