.adminbutton{
    position: fixed;
    height: 10vh;
    background-color:orangered;

    top:70vh;
    right: 5px;
}
.admincontainer
{

   display: flex;
   position: fixed;
   top:80px;
   right:0px;
    justify-content: center;
    align-items: center;
    width: 30vw;
    margin: 20px 0px;
height: 50vh;
   flex-direction: column;
   background-color: black;
   border-radius: 5px ;

}
.admincontainer input
{
    height: 12em;
    width: 20em;
    font-size: medium;
    border: none;
    outline: none;
    border-radius: 3px;
    padding-left: 5px;
    margin: 2vh;
}